<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<div th:each="person: ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName()+ ', '+person.getAge()}">user</a>
</div>
<br/>
<hr/>
</body>
</html>