<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()+', '+person.getAge()}">VALUE</p>
<p th:text="${'Email: ' +person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>
</body>
</html>